body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#board-container, #opponent-board-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 500px;
    height: 500px;
    border: 1px solid black
}

.cell {
    transition: 0.3s;
    width: 48px;
    height: 48px;
    border: 1px solid black;
}

#board-container .cell:hover {
    transition: 0.3s;
    background-color: rgba(30, 255, 0, 0.5);
}

#opponent-board-container .cell:hover {
    transition: 0.3s;
    background-color: rgba(255, 0, 0, 0.5);
}

.occupied {
    background-color: blue;
}

.hit {
    background-image: url(./imgs/crosshair.png);
    background-size: contain;
    height: 50px;
    width: 50px;
}

.miss {
    height: 48px;
    width: 48px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
}

#player-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#player-interface button {
    width: 60px;
    height: 30px;
    font-weight: bold;
}